@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#68aa96d2;
}
h1, footer{
    color: white;
    text-align: center;

}
section{
    width: 600px;
    max-height: 600px;
    background-color: #96a8e6;
    color: black;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #0000005b;
}
div{
    padding: 10px;
    margin: auto;
}